
*{
    padding: 0px;
    margin: 0px;
}
body{
    padding: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.legend_box{
    padding: 10px;
    display: inline-block;
    vertical-align: top;
}
fieldset{
    padding: 20px;
}
.messages{
    color: red;
    padding: 10px;
}