*{
    padding: 0px;
    margin: 0px;
}
body{
    padding: 10px;
    margin: 5px;
    font-family: "Comic Sans MS", cursive, sans-serif;

}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}