*{
 margin: 0px;
 padding: 0px;
 font-family: sans-serif;
}
body{
    width: 970px;
    background: #245176;
    padding: 0px;
    margin: 0px, auto;
}
#header-right{
    display: inline-block;
    vertical-align: top;
    margin-left: 150px;
    margin-top: 15px;
    text-align: center;
}
.search{
    background: grey;
    padding: 15px;
}
#header{
    width: 800px;
    list-style: none;
    background-color: #3e79ad;
    border-radius: 5px;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    padding: 10px 25px;
    margin: 20px auto;
    box-shadow: 2px 2px 2px black;
    color: white;
}

#links{
    vertical-align: top;
    margin-right: 10px;
    margin-left: 25px;
    width: 250px;
    display: inline-block;
}
.history{
    width: 520px;
    color: white;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin-left: 100px;
}
h3{
    color: yellow;
}
h6{
    color: skyblue;
    text-align: center;
    }
#started{
    border-top-color: blue;
    display:inline-block;
    width: 485px;
    height: 200px;
    background: white;
    padding: 25px;
    vertical-align: bottom;
} 
#application{
    border-top-color: blue;
    display:inline-block;
    width: 485px;
    height: 200px;
    background: white;
    margin-left: 510px;
    padding: 25px;
    vertical-align: top;
}
#contact{
    text-align: center;
    color: lightblue;
    list-style:none;
    height: 200px;
    display: flex;
}
