<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'books/style.css' %}">
    <title>Document</title>
</head>
<body>
     <header>
            <h2>Welcome {{ user.name}}</h2>
            <p><a href="{% url 'review:add' %}">Add book and review</a> | <a href="{% url 'login:logout' %}">Logout</a></p>
           
        </header>
        <div class="main">
            <h2>Recent Book Reviews:</h2>
            {% for review in recent %}
            <div class="review">
                <h2><a href="/books/{{review.book.id}}">{{ review.book.title }}</a></h2>
                <p>Rating: {{ review.rating }}</p>
                <p><a href="/user/{{review.reviewer.id}}">{{ review.reviewer.name}}</a> says: {{ review.review }}</p>
                <p>Posted on: {{ review.created_at }}</p>
            </div>
            {% endfor %}
        </div>
        <div class="side">
            <h2>Other Books with Reviews:</h2>
            {% for review in more %}
            <div class="review">
                <h2><a href="/books/{{review.book.id}}">{{ review.book.title }}</a></h2>
            </div>
            {% endfor %}
        </div>
</body>
</html>