@{
    DateTime CurrentTime = DateTime.Now;
    // string formattedDate = String.Format("{0:MMM d, yyyy}", currentDate);
    // string formattedTime = String.Format("{0:hh:mm tt}", currentDate);
}
<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Hello!</title>
    </head>
    <body>
        <h1>Hello ASP.NET Mvc!</h1>
        <h2>The Current time and date: </h2>
        <p>@CurrentTime</p>
        <!-- <p>@formattedDate</p>
        <p>@formattedTime</p> -->
    </body>
</html>
