<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'semi/css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <h1>Users</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Full Name</th>
            <th>Email </th>
            <th>Created_at </th>
            <th>Actions </th>
        </tr>
        {% for x in %}
        <tr>
            <td>{{request.session.id}}</td>
            <td>{{request.session.first_name}} {{request.session.last_name}}</td>
            <td>{{request.session.email}}</td>
            <td>{{request.session.created_at}}</td>
            <td><a href="">Show </a> | <a href="">Edit </a> | <a href="">Delete </a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>