<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'semi/css/style.css' %}">
</head>
<body>
    <h1>Users {{request.session.id}}</h1>
    Name: {{request.session.first_name}} {{request.session.last_name}}
    Email: {{request.session.email}}
    Created At: {{request.session.created_at}}
    Edit | Delete
</body>
</html>