<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Index</title>
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="projects">Projects</a></li>
            <li><a href="contacts">contacts</a></li>
        </ul>

        <h1>Hello ASP.NET Mvc!</h1>
        <h2>Home Page</h2>
        <p>Picture: <img style="height: 100px; width: 130px;" src="http://images.zaazu.com/img/Book-Reading-geek-female-girl-smiley-emoticon-000536-huge.png"></p>
        <p>Name: The Coder</p>
        <p>About Me: Don't know what exactly to write but I'm supposed to write
                      something about myself. Blah. 
        </p>

    </body>
</html>