<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Hello!</title>
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <h1>Djodachi</h1>
        <div id="stats">
            <p>Fullness: () Happiness: () Meals: () Energy: ()</p>
        </div>
        <div id="main">
            <img src="~/css/cat.png" alt ="cat" style="height: 100px; width: 100px;">
            <div id="actions"></div>
        </div>
        <div id="actionButtons">
            <button id="feed">Feed</button>
            <button id="play">Play</button>
            <button id="work">Work</button>
            <button id="sleep">Sleep</button>
        </div>
    </body>
</html>