<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Index</title>
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <p>
            Name: @ViewBag.name <br>
            Location: @ViewBag.location <br>
            Language: @ViewBag.language <br>
            Comment: @ViewBag.comment <br>
            <a href="">Return to main page</a>
        </p>
    </body>
</html>