<h1>FORM NOT SUBMITTED CORRECTLY</h1>
<ol>
    <li>AUTHOR CANNOT BE BLANK</li>
    <li>CONTENT CANNOT BE BLANK</li>
</ol>
<p>
    @ViewBag.Mistakes[0]
    @ViewBag.Mistakes[1]
</p>
<a href="/">HOME PAGE</a>
<a href="/">CURRENT QUOTES</a>