*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    padding: 10px;
}
#goldbox{
    padding: 10px;
}
.box{
    padding: 20px;
    text-align: center;
    display: inline-block;
    width: 20%;
    height: 100px;
    vertical-align: top;
    background: yellowgreen;
    border: 10px, bold, black;
}
.button{
    box-shadow: 5px 5px 5px #888888;
}