@model Trail
<h2>this is a form to create a new trail</h2>

<div class="panel panel-success">
    <div class="panel-heading text-center"><H4>Add a trail to the directory</H4> </div>
    <div class="panel-body">
        <form asp-action="Update" method="post" class="">
            <div class="form-group">
                <label asp-for="name"></label>
                <input class="form-control" asp-for="name"/>
            </div>            
            <div class="form-group">
                <label asp-for="description">Description:</label>
                <input class="form-control" asp-for="description"/>
            </div>            
            <div class="form-group">
                <label asp-for="length">Trail Length in miles</label>
                <input class="form-control" asp-for="length"/>
            </div>            
            <div class="form-group">
                <label asp-for="longitude">Longitude</label>
                <input class="form-control" asp-for="longitude"/>
            </div>            
            <div class="form-group">
                <label asp-for="latitude">latitude</label>
                <input class="form-control" asp-for="latitude"/>
            </div>            
            <div class="form-group">
                <label ></label>
                <input type="submit" value="Create record!"/>
            </div>
        </form>
    </div>
</div>