@model Secrets.Models.NewUser
<h2>Registration</h2>

<form method="POST" asp-controller="Home" asp-action="Register">
    <!-- First Name Label -->
    <div class ="form-group">
        <span asp-validation-for="first_name"></span>
        <label asp-for="first_name"></label>
        <input class="form-control" asp-for="first_name">
    </div>
    <!-- Last Name Label -->
    <div class="form-group">
        <span asp-validation-for="last_name"></span>
        <label asp-for="last_name"></label>
        <input class="form-control" asp-for="last_name">
    </div>
    <!-- Email Label -->
    <div class="form-group">
        <span asp-validation-for="email"></span>
        <label asp-for="email"></label>
        <input class="form-control" asp-for="email">
    </div>
    <!-- Password Label -->
    <div class="form-group">
        <span asp-validation-for="password"></span>
        <label asp-for="password"></label>
        <input class="form-control" asp-for="password">
    </div>
    <!-- Confirm Password Label -->
    <div class="form-group">
        <span asp-validation-for="confirm"></span>
        <label asp-for="confirm"></label>
        <input class="form-control" asp-for="confirm">
    </div>
    <input type="submit" value="Register">
</form>