@model TheWall.Models.RegisterUser
<h1>Register</h1>
<form asp-action="Register" asp-controller="User" method="post">
    <div class="form-group">
        <span asp-validation-for="FirstName"></span>
        <label asp-for="FirstName"></label>
        <input class="form-control" asp-for="FirstName">
    </div>
    <div class="form-group">
            <span asp-validation-for="LastName"></span>
            <label asp-for="LastName"></label>
            <input class="form-control" asp-for="LastName">
        </div>
    <div class="form-group">
        <span asp-validation-for="Email"></span>
        <label asp-for="Email"></label>
        <input class="form-control" asp-for="Email">
    </div>
    <div class="form-group">
        <span asp-validation-for="Password"></span>
        <label asp-for="Password"></label>
        <input class="form-control" asp-for="Password">
    </div>
    <div class="form-group">
        <span asp-validation-for="Confirm"></span>
        <label asp-for="Confirm"></label>
        <input class="form-control" asp-for="Confirm">
    </div>
    <input type="submit" value="Submit">
</form>