body, html{
    background: darkblue;
    margin: 5px;
    padding: 0px;
    height: 100%
}
html{
    width: 970px;
}
h1{

    border-radius: 25px;
    background: red;
    padding: 20px;
    display: block;
    max-width: 970px;
}
.list{
    border-radius: 25px;
    background:rgb(0, 213, 255);
    color: green;
    padding: 20px;
    margin: 5px;
    max-width: 250px;
    display: inline-block;

}
.para{
    border-radius: 25px;
    background: green;
    padding: 25px;
    margin: 5px;
    float: right; 
    display: block;
    max-width: 620px;
}

#info{
    border-radius: 15px;
    background: grey;
    padding: 15px;
    margin: 15px;
    width: 930px;
    display: inline-block;
}