* {
    margin: 0px;
    padding: 0px;
}

#redbox {
    background: red, bold, 5px;
    color: white;
    padding: 20px;
}

#greenbox {
    background: green, bold, 5px;
    color: black;
    padding: 20px;
}