*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: "Comic Sans MS", cursive, sans-serif;
    padding: 10px;
}
#register_box, #login_box{
    padding: 20px;
}
#main_reg{
    padding: 5px;
    display: inline-block;
}
#main_login{
    padding: 5px;
    display: inline-block;
    vertical-align: top;
    margin-left: 60%;
}
#block1{
    padding: 5px;
    display: inline-block;
}
#block2{
    padding: 5px;
    display: inline-block;
    margin-left: 70%;
}
.main_body{
    padding: 5px;
    display: inline-block;
}
.side_bar{
    padding: 5px;
    display: inline-block;
    margin-left: 80%;
}