*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: "Comic Sans MS", cursive, sans-serif;
    padding: 20px;
}
input{
    padding: 3px;
    box-shadow: 3px 3px 3px black;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}