<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
     {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'login/style.css' %}">
</head>
<body>

     {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}

    <h3>Welcome! </h3>
    <div class="legend_box">
        <form action="/register" method="POST">
            {% csrf_token %}
            <fieldset>
                <legend>Register </legend>
                    <label for="full_name">Full Name</label>
                    <input type="text" name="full_name"><br>
                    <label for="aliase">Alias</label>
                    <input type="text" name="alias"><br>
                    <label for="email">Email</label>
                    <input type="text" name="email"><br>    
                    <label for="password">Password</label>
                    <input type="text" name="password"><br>   
                    <label for="password2">Confirm Password</label>
                    <input type="text" name="password2"><br>  
                    <input type="submit" value="Register">                 
            </fieldset>
        </form>
    </div>
    <div class="legend_box">
        <form action="/login" method="POST">
            {% csrf_token %}
            <fieldset>
                <legend>Login </legend>
                    <label for="email">Email</label>
                    <input type="text" name="email"><br>    
                    <label for="password">Password</label>
                    <input type="text" name="password"><br>  
                    <input type="submit" value="Login"> 
            </fieldset>
        </form>
    </div>
</body>
</html>
